@model IndexVM
@using Gridazor;

<div class="card card-primary">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new
    {
        enctype = "multipart/form-data"
    }))
    {
        <div class="card-header">
            <button id="delete-button" type="button" class="btn btn-danger">Delete</button>
        </div>
        <div class="card-body">
            @Html.GridEditorFor(x => x.Tests, "myGrid", "ag-theme-quartz")
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    }
</div>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script>
        const dropdownValues = @Html.Raw(Json.Serialize(ViewBag.Cats));
        console.log(dropdownValues)
        $("#myGrid").gridazor({
            propertyName: '@nameof(Model.Tests)',
            enableRtl: false,
            overrideColumnDefs: [{
                field: "catId",
                headerName: "Cat Id",
                cellEditor: GridazorDropdown,
                cellEditorParams: {
                    values: dropdownValues.map(item => ({
                        value: item.id,
                        text: item.name
                    }))
                },
                valueFormatter: function (params) {
                    const option = params.colDef.cellEditorParams.values.find(opt => opt.value === params.value);
                    return option ? option.text : params.value;
                }
            }],
            enableDelete: true,
            deleteButtonId: "delete-button"
        });
    </script>
}